<ion-grid>
  <ion-row class="header-row">
    <!-- Add header cells (e.g., days of the week) -->
    <ion-col *ngFor="let day of getDays()" size="12" size-md="6" size-lg="4">

    </ion-col>
  </ion-row>
  <ion-row class="content-row">
    <ion-col *ngFor="let day of getDays()" size="12" size-md="6" size-lg="4">
      <ion-list>
        <ion-list-header> {{ day | date:'shortDate' }}</ion-list-header>


        <div *ngFor="let timeSlot of getTimeSlots()">
          <div class="cell" (click)="onCellClick(day, timeSlot)">
            <ng-container *ngIf="getShift(day, timeSlot) as shift">
              <!-- Display shift data here, e.g., shift name -->
              {{ shift.shiftName }}
            </ng-container>
          </div>
        </div>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>