<ion-header>
  <ion-toolbar>
    <ion-title>Groups</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-groups-list [groups]="groups$ | async" (groupSelected)="onGroupSelected($event)"
    (groupDelete)="onGroupDelete($event)" (groupEdit)="onGroupEdit($event)">
    <!-- <ion-button (click)="openGroupAddModal(true)" fill="clear" color="light">Add Group</ion-button> -->
    <ion-button (click)="onGroupAdd()" fill="clear" color="light">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </app-groups-list>

</ion-content>

<ion-modal class="modal-fullscreen" [isOpen]="isOpenGroupModal" (didDismiss)="openGroupAddModal(false)">
  <ng-template>
    <ion-header class="modal-header ion-no-border">
      <ion-toolbar>
        <ion-title slot="start">
        </ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="openGroupAddModal(false)">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="modal-content light-tint-background">
      <app-group-add [group]="group" [isEdit]="editMode" (groupAdded)="onGroupAdded($event)"
        (groupEdited)="onGroupEdited($event)"></app-group-add>
    </ion-content>
  </ng-template>
</ion-modal>