<form [formGroup]="participantForm" (ngSubmit)="onSubmit()">
  <!-- Display Name -->
  <ion-item>
    <ion-label position="stacked">Display Name</ion-label>
    <ion-input formControlName="displayName" type="text" required></ion-input>
  </ion-item>

  <!-- Participant Token -->
  <ion-item>
    <ion-label position="stacked">Participant Token</ion-label>
    <ion-input formControlName="participantToken" type="text" required></ion-input>
  </ion-item>

  <!-- Color -->
  <ion-item>
    <ion-label position="stacked">Color</ion-label>
    <ion-input formControlName="color" type="color"></ion-input>
  </ion-item>

  <!-- Arrival Time -->
  <ion-item>
    <ion-label position="stacked">Arrival Time</ion-label>
    <ion-datetime-button datetime="arrivalTime"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="arrivalTime" formControlName="arrivalTime" displayFormat="h A"
          pickerFormat="h A"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>

  <!-- Departure Time -->
  <ion-item>
    <ion-label position="stacked">Departure Time</ion-label>
    <ion-datetime-button datetime="departureTime"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="departureTime" formControlName="departureTime" displayFormat="h A"
          pickerFormat="h A"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>

  <!-- Off Days -->
  <ion-item>
    <ion-label position="stacked">Off Days</ion-label>
    <ion-datetime-button datetime="offDays"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="offDays" presentation="date" [multiple]="true" formControlName="offDays"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>

  <!-- Friends -->
  <ion-item>
    <ion-label position="stacked">Friends</ion-label>
    <ion-input formControlName="friends" type="text"></ion-input>
  </ion-item>

  <!-- Enemies -->
  <ion-item>
    <ion-label position="stacked">Enemies</ion-label>
    <ion-input formControlName="enemies" type="text"></ion-input>
  </ion-item>

  <!-- Shift Preferences -->
  <ion-item>
    <ion-label position="stacked">Shift Preferences</ion-label>
    <ion-input formControlName="shiftPreferences" type="number"></ion-input>
  </ion-item>

  <!-- Experience -->
  <ion-item>
    <ion-label position="stacked">Experience</ion-label>
    <ion-input formControlName="experience" type="number"></ion-input>
  </ion-item>


  <!-- Absences -->
  <div formArrayName="absences">
    <ion-item *ngFor="let absence of absences.controls; let i = index" [formGroupName]="i">
      <ion-label>Absence {{ i + 1 }}</ion-label>
      <ion-datetime-button datetime="absenceStart"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="absenceStart" formControlName="absence"></ion-datetime>
        </ng-template>
      </ion-modal>
      <ion-datetime-button datetime="absenceEnd"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="absenceEnd" formControlName="endDate"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
  </div>

  <!-- Role -->
  <ion-item>
    <ion-label position="stacked">Role</ion-label>
    <ion-select formControlName="role">
      <ion-select-option value="1">Role 1</ion-select-option>
      <ion-select-option value="2">Role 2</ion-select-option>
      Add more roles
    </ion-select>
  </ion-item>

  <!-- Submit button -->
  <ion-button type="submit" [disabled]="participantForm.invalid">Add Participant</ion-button>
</form>